
  
  .register-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .register-body {
    width: 350px;
    padding: 20px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

  .login-body{
    width: 300px;
    padding: 20px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .register-main .form-group {
    margin-bottom: 1rem;
  }
  
  .register-main .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .register-main .form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-main .form-control:focus {
    outline: none;
    border-color: #007bff; /* Example focus state */
  }
  